$pink: #ea3a7a;
$blue: #132b4f;
$purple: #763aea;

$primary: $purple;
$secondary: $blue;

$original-black: #000;
$black: rgba($original-black, 0.8);
$grey: rgba($original-black, 0.4);
$grey-2: rgba($original-black, 0.2);

$white: #ffffff;

$bg: $white;

$highlight-color: $original-black;
