$pink: #ea3a7a;
$blue: #132b4f;
$purple: #763aea;
$purple-darken: #361870;

$primary: $purple;
$primary-darken: $purple-darken;
$secondary: $pink;

$original-black: #000;
$black: rgba($original-black, 0.8);
$black-darken: rgba($original-black, 0.95);
$grey: rgba($original-black, 0.4);
$grey-2: rgba($original-black, 0.2);

$white: #ffffff;

$bg: $black-darken;
$bg-2: $blue;
$fg: $white;
$fg-darken: rgba($fg, 0.25);

$highlight-color: $purple;
$selection-color: $pink;
