* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1faee;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#scrollable {
  width: 100%;
  height: 100vh;
}

main {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  padding: 100px 10px 10px 10px;
  overflow: hidden;
}

main > * {
  padding: 20px;
}

section {
  flex: 1;
  font-family: "Lora";
  padding-left: 4vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li {
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: #3b2f2f;
  font-family: "Lora";
  font-weight: 400;
}

a.is-active {
  color: #cc1acc;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.page-title {
  font-family: "Roboto";
  font-size: 42px;
  color: #1b262c;
  line-height: 1;
  margin-bottom: 1em;
}

p {
  line-height: 1.4;
  font-size: 14px;
}

.button {
  display: inline-block;
  position: relative;
  margin-top: 18px;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  font-weight: 900;
  transition: box-shadow 0.25s ease-out;
}

.button:hover {
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.panel {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 50vh;
  background: #3084a0;
  z-index: 1;
}

.panel-top {
  top: 0;
  transform: translateY(-100%);
}

.panel-bottom {
  bottom: 0;
  transform: translateY(100%);
}

.scrollbar-track-y {
  width: 6px !important;
}

.scrollbar-thumb {
  width: 5px !important;
  background: #e63946 !important;
  top: 1px !important;
}
