doctype html
html
  include /head
  noscript You need to enable JavaScript to run this app.
include /header
#scrollable
  main.main
    .container
include /splash
script(type='module' src='/_dist_/js/index.js')
