header.header
  #menu
  .header__container
    a.logo(href='/')
      include /logo
    nav.main-nav
      ul
        li
          a Home
            span
            | .
        li About
          a
            span
            | .
    .burger
      span.burger__dot
      span.burger__dot
      span.burger__dot
      span.burger__dot
      span.burger__dot
