header.header
  #menu
  .header__container
    a.logo(href='/')
      include /logo
    .burger
      span.burger__dot
      span.burger__dot
      span.burger__dot
      span.burger__dot
      span.burger__dot
