svg.logo(viewbox='0 0 496.32 451.45' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  path.r-shape(d='M144.46,291.51V451.45H0V0H216.7C349.55,0,402.44,72.88,402.44,149c0,58.69-25.8,105.12-87.07,127.69L418.56,451.45H267L178.65,291.51Zm65.79-89c31.6,0,48.37-25.15,48.37-53.53s-16.77-53.53-48.37-53.53H145.11V202.51Z')
  rect.dot-shape(x='444.32' y='399.26' width='52' height='52')
  path.d-shape(d='M166.26,117.26h63c5.22-.14,18.32.24,30.34,9,19.56,14.26,19.73,38.67,19.77,44,0,4.42.23,31.55-21,46-10.83,7.38-22.27,8.06-27.75,8H166.2Z')
