#splash
  h1(style="display: none; opacity: 0; visibility: hidden; position: relative; left: -999999px; user-select: none;") #{title}
  .panel
  .panel
  .panel
  .panel
  .panel
  .splash__logo-container
    include /logo
