$s: 20em;
$m: 30em;
$l: 48em;
$xl: 80em;
$xxl: 120em;

@custom-media --small (max-width: $s);
@custom-media --medium (min-width: $m);
@custom-media --large (min-width: $l);
@custom-media --xlarge (min-width: $xl);
@custom-media --xxlarge (min-width: $xxl);
